$bg-side-menu: #000;
$foreground-side-menu-default: #FFFFFFA6;
$foreground-side-menu-disabled: #FFFFFF40;
$foreground-side-menu-hover: #FFF;
$foreground-side-menu-selected: #FFF;
$foreground-side-menu-group-title: #FFFFFF66;
$sider-divider-color: #FFFFFF40;
